<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ui_mocks</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" media="screen" type="text/css" href="styles/screen.css">
    <link rel="stylesheet" media="print" type="text/css" href="styles/print.css">
    <link rel="stylesheet" media="screen" type="text/css" href="styles/ie.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="index-page">
      <div class="front-containter" ng-controller="IndexController">
        <div class="image-wrapper">
          <video id='guest_video' class='main-image' autoplay loop preload='auto'>
            <source src='videos/index_video_background.mp4' type='video/mp4'>
            <source src='videos/index_video_background.mp4.webm' type='video/webm'>
            <source src='videos/background.ogv' type='video/ogg'>
          </video>
        </div>
        <div class="dots">
          <div class="header">
            <div class="container">
              <a href='/' class='logo'>
                <span>aboree.com</span>
              </a>
              <div ng-hide="authentication.user">
                <a ui-sref="authentication.signup" class='open-account main button'>Join</a>
              </div>
              <div ng-show="authentication.user">
                <a href="/api/auth/signout" target="_self" class="open-account main button">Signout</a>
              </div>
            </div>
          </div>
          <div class='container'>
            <div class='block-wrapper'>
              <div class='block-page'>
                <h1 class='first-title'>
                  welcome to <span class='site-name'>aboree</span>
                </h1>
                <span class='second-title'>...what happened last night ?</span>
              </div>
              <div class="login-wrapper">
                <div class="login-form">
                  <form name="loginForm" ng-submit="signin(loginForm.$valid)" novalidate autocomplete="off">
                    <div class="form-group">
                      <div class="form-field">
                        <input type="text" id="username" name="username" class="input username form-control" ng-model="credentials.username" placeholder="username or email" lowercase required>
                        <div ng-messages="loginForm.username.$touched && loginForm.username.$error" role="alert">
                          <span ng-message="required">username is required.</span>
                        </div>
                      </div>
                      <div class="form-field">
                        <input type="password" id="password" name="password" class="input password form-control" ng-model="credentials.password" placeholder="password" required>
                        <div ng-messages="loginForm.password.$touched && loginForm.password.$error" role="alert">
                          <span ng-message="required">password is required.</span>
                        </div>
                      </div>
                      <button type="submit" ng-class="loginForm.$valid ? ['enabled']: ['disabled']" class="button">login</button>
                    </div>
                  </form>
                  <alert type="danger" ng-show="error" class="text-center text-danger">
                    <span ng-bind="error"></span>
                  </alert>
                </div>
                <a class='forgot-password' ui-sref="password.forgot">forgot password?</a>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="row no-margin">
          <div class="col-sm-10">
            menu
          </div>
          <div class="col-sm-2">
            <div class="app-version">
              <a href='/' class='site-name'>
                <span>aboree</span>
                <span class='version-number'>v2.0</span>
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="copyright-and-madein-wrapper">
              <div class="copyright">
                aboree &copy; 2012 - 2016. all rights reserved.
              </div>
              <div class="made-in-sofia">
                made with <span class="fa fa-heart love"></span> in sofia
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->

    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <script src="/app/scripts/bootstrap/affix.js"></script>
    <script src="/app/scripts/bootstrap/alert.js"></script>
    <script src="/app/scripts/bootstrap/dropdown.js"></script>
    <script src="/app/scripts/bootstrap/tooltip.js"></script>
    <script src="/app/scripts/bootstrap/modal.js"></script>
    <script src="/app/scripts/bootstrap/transition.js"></script>
    <script src="/app/scripts/bootstrap/button.js"></script>
    <script src="/app/scripts/bootstrap/popover.js"></script>
    <script src="/app/scripts/bootstrap/carousel.js"></script>
    <script src="/app/scripts/bootstrap/scrollspy.js"></script>
    <script src="/app/scripts/bootstrap/collapse.js"></script>
    <script src="/app/scripts/bootstrap/tab.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
